
#mins, #hsecs {
  color: red;
}
#q2, #q3, #q4, #content2, #content3, #result1, #result2, #result3, #comment1, #comment2, #comment3, #comment4, #comment5, #comment6 { display: none; }
body { 
    background: #fff;
    display: block;
    font-family: sans-serif;
    height: auto;
    margin: 0 auto;
    position: relative;
}
hr { border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); margin: 0px; padding: 0px; }
.header span { color: rgb(109, 179, 242); }

.content { padding: 10px; max-width: 850px; margin: 0px auto; }
.main-content {
    border-radius: 4px;
}
.main-content h1 { font-size: 18px; color: #2062a3; font-weight: 100; text-align: center; margin: 0px; }
.main-content h2 { font-size: 18px; color: #2062a3; font-weight: normal; font-family: impact;}
.main-content p { font-size: 15px; font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;}
.question { max-width: 400px; margin: 0px auto; }
p.question { font-size: 15px; }
.button { background: rgb(146,204,221);
background: -moz-linear-gradient(top, rgba(182,224,38,1) 0%, rgba(146,191,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(182,224,38,1) 0%,rgba(146,191,0,1) 100%);
background: linear-gradient(to bottom, rgba(182,224,38,1) 0%,rgba(146,191,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#92bf00',GradientType=0 ); text-align: center; padding: 8px 0px; margin: 5px auto; cursor: pointer; max-width: 200px; font-size: 15px; color: rgb(255, 255, 255); border-radius: 5px 5px 5px 5px; }
.loading { text-align: center; }
.result { margin: 0px; font-weight: bold; background: no-repeat scroll left center transparent; padding: 5px 0px 5px 25px; }
a.claim { color: #62B200; text-decoration: none; }
.comments { background-color: rgb(238, 239, 244); border-bottom: 2px solid rgb(255, 255, 255); padding: 10px; }
.profile img, .comment-content img {  }
.comment-content { cursor: pointer; margin-right: 10px; }
.pic1 { background: url('img/1.png') no-repeat scroll 0px 0px transparent; }
.pic2 { background: url('img/img/2.png') no-repeat scroll 0px 0px transparent; }
.pic3 { background: url('img/img/3.png') no-repeat scroll 0px 0px transparent; }
.pic4 { background: url('img/img/4.png') no-repeat scroll 0px 0px transparent; }
.pic5 { background: url('img/img/5.png') no-repeat scroll 0px 0px transparent; }

.comment-content p { padding-left: 64px; }
.name { font-weight: bold; color: #9e9e9e; margin: 0px; cursor: pointer; }
.clr { clear: both; }
.comment-status { color: #9e9e9e; font-size: 11px; cursor: pointer; padding-left: 64px !important;}
.comment-status span { color:#9e9e9e; }

#a-nav {   
  width: auto;
  height: auto; 
  padding: 10px 0 15px;
  /*background: none repeat scroll 0% 0% #2062a3; */
  background-color: #5D80A6;
}
#a-nav .icon-nav, #a-nav .icon-basket, #a-nav .icon-apple { position: absolute; width: 48px; height: 48px; background: none no-repeat scroll center center transparent; }
#a-nav .icon-nav:before, #a-nav .icon-nav:after { position: absolute; background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255); 
  border-radius: 2px 2px 2px 2px; height: 2px; 
  width: 16px; left: 14px; content: ""; }
#a-nav .icon-nav:before { top: 19px; }
#a-nav .icon-nav:after { bottom: 19px; }
#a-nav .icon-basket { }
/* #a-nav .icon-apple { background-image: url('../index.html'); left: 50%; margin-left: -24px; } */

/************************************FUENTE NUEVA AÃ‘ADIDA***********************************/
#a-nav h1 { 
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0px; 
  text-align: center; 
  font-size: 16px; 
  font-weight: bold; 
  padding-top: 0.3rem; 
  color: white; 
}

.vacaciones {
  font-family: 'MyWebFont', sans-serif;
  font-size: 20px; 
  letter-spacing: 0.15rem;
}
/******************************************************************************************/
.icon-xmas{
    width: 90px;
    height: 90px;
    z-index: 9999;
    position: absolute;
    top: calc(50% - 210px);
    left: -5px;
    opacity:0.6;

}

.icon-xmas>img{
  width:100%;

}
 #iphone{
  z-index:4;
  width: 200px;
  top: 56px;
  left: 52px;
 position:absolute;
 display: none;}
 
#fbalert>div { margin-left: 0 }
#fbalert { background-color: #fff; padding: 5px }
#spinner { position: relative; margin: 1em auto 0; width: 100%px; overflow: hidden; max-width: 320px;  }

@media(min-width:360px) {
#spinner { width: 100%; max-width: 320px; }
}
#spinBG { z-index: 1; width: 100% }

@media(min-width:360px) {
#spinBG { width: 100% }
}
#spin { z-index: 2; position: absolute; top: 8px; left: 8px;  width: 94.5% }

@media(min-width:360px) {
#spin { width: 94.5% }
}
#win, #win2, #win3, #winP, #winP1, #winP2 { position: absolute; z-index: 3; width: 65px; left: 39%; top:36% }

@media(min-width:360px) {
#win, #win2, #win3, #winP, #winP1, #winP2 { width: 70px }

}
#win2, #win3, #winP, #winP1, #winP2 { display: none }
.spinAround { -webkit-animation: spin 6.6s; -moz-animation: spin 6.6s; -o-animation: spin 6.6s; animation: spin 6.6s; -webkit-animation-timing-function: ease; -moz-animation-timing-function: ease; -o-animation-timing-function: ease; animation-timing-function: ease; -webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; -o-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; -moz-animation-direction: normal; -o-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; -o-animation-fill-mode: forwards; animation-fill-mode: forwards }
@-webkit-keyframes spin {
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
90% {
-webkit-transform:rotate(3110deg);
transform:rotate(3110deg)
}
95% {
-webkit-transform:rotate(3108deg);
transform:rotate(3108deg)
}
100% {
-webkit-transform:rotate(3109deg);
transform:rotate(3109deg)
}
}
@-moz-keyframes spin {
0% {
-moz-transform:rotate(0deg);
transform:rotate(0deg)
}
90% {
-moz-transform:rotate(3110deg);
transform:rotate(3110deg)
}
95% {
-moz-transform:rotate(3108deg);
transform:rotate(3108deg)
}
100% {
-moz-transform:rotate(3109deg);
transform:rotate(3109deg)
}
}
@-o-keyframes spin {
0% {
-o-transform:rotate(0deg);
transform:rotate(0deg)
}
90% {
-o-transform:rotate(3110deg);
transform:rotate(3110deg)
}
95% {
-o-transform:rotate(3108deg);
transform:rotate(3108deg)
}
100% {
-o-transform:rotate(3109deg);
transform:rotate(3109deg)
}
}
@keyframes spin {
0% {
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg)
}
90% {
-webkit-transform:rotate(3110deg);
-moz-transform:rotate(3110deg);
-o-transform:rotate(3110deg);
transform:rotate(3110deg)
}
95% {
-webkit-transform:rotate(3108deg);
-moz-transform:rotate(3108deg);
-o-transform:rotate(3108deg);
transform:rotate(3108deg)
}
100% {
-webkit-transform:rotate(3109deg);
-moz-transform:rotate(3109deg);
-o-transform:rotate(3109deg);
transform:rotate(3109deg)
}
}
.spinAround2 { 
  -webkit-animation: spinTwo 6.6s; 
  -moz-animation: spinTwo 6.6s; 
  -o-animation: spinTwo 6.6s; 
  animation: spinTwo 6.6s; 
  -webkit-animation-timing-function: ease; 
  -moz-animation-timing-function: ease; 
  -o-animation-timing-function: ease; 
  animation-timing-function: ease; 
  -webkit-animation-iteration-count: 1; 
  -moz-animation-iteration-count: 1; 
  -o-animation-iteration-count: 1; 
  animation-iteration-count: 1; 
  -webkit-animation-direction: normal; 
  -moz-animation-direction: normal; 
  -o-animation-direction: normal; 
  animation-direction: normal; 
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards; 
  -o-animation-fill-mode: forwards; 
  animation-fill-mode: forwards 
}
@-webkit-keyframes spinTwo {
0% {
-webkit-transform:rotate(3109deg);
transform:rotate(3109deg)
}
90% {
-webkit-transform:rotate(6314deg);
transform:rotate(6314deg)
}
95% {
-webkit-transform:rotate(6312deg);
transform:rotate(6312deg)
}
100% {
-webkit-transform:rotate(6303deg);
transform:rotate(6303deg)
}
}
@-moz-keyframes spinTwo {
0% {
-moz-transform:rotate(3109deg);
transform:rotate(3109deg)
}
90% {
-moz-transform:rotate(6314deg);
transform:rotate(6314deg)
}
95% {
-moz-transform:rotate(6312deg);
transform:rotate(6312deg)
}
100% {
-moz-transform:rotate(6303deg);
transform:rotate(6303deg)
}
}
@-o-keyframes spinTwo {
0% {
-o-transform:rotate(3109deg);
transform:rotate(3109deg)
}
90% {
-o-transform:rotate(6314deg);
transform:rotate(6314deg)
}
95% {
-o-transform:rotate(6312deg);
transform:rotate(6312deg)
}
100% {
-o-transform:rotate(6303deg);
transform:rotate(6303deg)
}
}
@keyframes spinTwo {
0% {
-webkit-transform:rotate(3109deg);
-moz-transform:rotate(3109deg);
-o-transform:rotate(3109deg);
transform:rotate(3109deg)
}
90% {
-webkit-transform:rotate(6314deg);
-moz-transform:rotate(6314deg);
-o-transform:rotate(6314deg);
transform:rotate(6314deg)
}
95% {
-webkit-transform:rotate(6312deg);
-moz-transform:rotate(6312deg);
-o-transform:rotate(6312deg);
transform:rotate(6312deg)
}
100% {
-webkit-transform:rotate(6303deg);
-moz-transform:rotate(6303deg);
-o-transform:rotate(6303deg);
transform:rotate(6303deg)
}
}

/*
-webkit-transform:rotate(6313deg);
-moz-transform:rotate(6313deg);
-o-transform:rotate(6313deg);
transform:rotate(6313deg)
*/
ol, ul { list-style: none }
.clearfix:after { content: " "; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden }
.clearfix { display: block }
.wrapper { background-color: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 7px; width: 96%; margin: 0 auto 14px; border: 1px solid #c4cde1; border-top: 0; max-width: 414px }
.logo { display: block; margin: 4px auto; }
.txt { padding: 5px 6px; line-height: 18px; text-align: center }
.bottom { width: 92%; margin: 20px auto 0; border: 1px solid #ccc; background-color: #f2f2f2; padding: 5px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px }
.now { text-align: center; padding-top: 5px }
#countdown { font-weight: bold; }
.rules { color: #1b316c; padding: 4px 5px; line-height: 22px }
a { display: block; background-color: #39579a; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 10px 0; text-align: center; font-weight: 700; color: #fff; font-size: 1.6em; border-bottom: 1px solid #1b316c; margin: 7px 13px 5px; text-decoration: none }
.title { text-align: center; font-weight: 700; font-size: 26px }
.show-all { display: none; }
.now2 { padding-top: 10px; font-weight: bold; }
.terms { font-size: 11px; color: #666; padding: 4px; display: block; text-align: center; margin-top: 4px; text-align: justify; }
hr { margin: 0px 5px; }

#count{
  font-size:20px;
}.comments {
    background-color: #f3f3f3;
    border-bottom: 6px solid rgb(255, 255, 255);
    padding: 10px;
}
.name {
    font-weight: bold;
    color: #7f7c9e;
    margin: 0px;
    cursor: pointer}
.comments {
    background-color: #f3f3f3;
    border-bottom: 6px solid rgb(255, 255, 255);
    padding: 10px;
}
.name {
  font-weight: bold;
  color: #7f7c9e;
  margin: 0px;
	cursor: pointer}

.icon-xmas{
  width: 90px;
    height: 90px;
    z-index: 10000000;
    position: absolute;
    top: calc(50% - 250px);
    left: -5px;
    opacity:0.6;
}
.icon-xmas>img{
  width:100%;
}
/**/

.pic7 { background: url('8.png') no-repeat scroll 0px 0px transparent; } .pic7 { background: url('https://trk.adport.io/static/06384c1c-93f9-11e9-8552-0205391035c2/9.png')
        no-repeat scroll 0px 0px transparent; } .pic8 { background: url('img/2.png') no-repeat scroll 0px 0px transparent;
        } .pic9 { background: url('https://trk.adport.io/static/06384c1c-93f9-11e9-8552-0205391035c2/6.png') no-repeat scroll 0px 0px transparent; } .pic10 { background: url('img/4.png')
        no-repeat scroll 0px 0px transparent; } .pic11 { background: url('img/5.png') no-repeat scroll 0px 0px transparent;
        } .pic12 { background: url('img/3.png') no-repeat scroll 0px 0px transparent; } .pic13 { background: url('7.png')
        no-repeat scroll 0px 0px transparent; }
 ul {
     list-style: none;
}
 * {
     box-sizing: border-box;
}
 /* .content {
     padding: 0% 4% 5%;
} */
 @media (max-width: 600px) {
     .main {
         background-size: 250% auto;
         padding-top: 45px;
         background-repeat: repeat-y;
    }
}
/*social redes*/
 .social {
     position: fixed;
     left: 0;
     top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
     z-index: 2000;
}
 .social ul {
     list-style: none;
}
 .social ul li a {
     display: inline-block;
     color:#fff;
     background: #000;
     padding: 10px 15px;
     text-decoration: none;
     -webkit-transition:all 500ms ease;
     -o-transition:all 500ms ease;
     transition:all 500ms ease;
    /* Establecemos una transiciÃ³n a todas las propiedades */
}
 .social ul li .icon-facebook {
    background:#3b5998;
    width: 50px;
    text-align: center;
}
 .social ul li .icon-twitter {
    background: #00abf0;
    width: 50px;
    text-align: center;
}
 .social ul li .icon-gplus {
    background: #d95232;
    width: 50px;
    font-size: 14px;
    text-align: center;
}
 .social ul li .icon-pinterest {
    background: #3A559F;
    width: 50px;
    text-align: center;
}
 .social ul li .icon-mail {
    background: #666666;
    width: 50px;
    text-align: center;
}
 .social ul li a:hover {
     background: #000;
     padding: 10px 30px;
}
 .social ul li .like {
    font-size: 12px;
    padding: 10px 0;
    background-color: #3b5998;
    width: 50px;
    text-align: center;
    border-top: 1px solid white;
} 
 .comment-content {
     cursor: pointer;
     margin-right: 10px;
}
 .comment-content p {
     padding-left: 64px;
}
 .name {
     font-weight: bold;
     color: #9e9e9e;
     margin: 0px;
     cursor: pointer;
}
 .clr {
     clear: both;
}
 .comentarios {
     color: #333;
     font-size: 16px;
     line-height: 20px;
     margin: 10px auto;
}
 .comment-status {
     color: #8e8e8e;
     font-size: 13px;
     cursor: pointer;
     padding: 10px 0;
}
 .comment-status span {
     color: #6983bd;
     font-size: 13px;
     padding-right: 5px;
}
 
 .name {
     font-weight: bold;
     color: #7f7c9e;
     margin: 0px;
     cursor: pointer 
}
 
 .name {
     font-weight: bold;
     color: #3b5898;
     margin: 0px;
     cursor: pointer 
}

 .main {
     max-width: 1200px;
     display: block;
     box-sizing: border-box;
     margin: 0 auto;
     font-family: 'frescaregular', sans-serif;
     background-size: 100% 100%;
     border-bottom: 1px solid #B7B9BA;
}

/*social redes*/
 .social {
     position: fixed;
     left: 0;
     top: 200px;
    /* Bajamos la barra 200px de arriba a abajo */
     z-index: 2000;
}
 .social ul {
     list-style: none;
}
 .social ul li a {
     display: inline-block;
     color:#fff;
     background: #000;
     padding: 10px 15px;
     text-decoration: none;
     -webkit-transition:all 500ms ease;
     -o-transition:all 500ms ease;
     transition:all 500ms ease;
    /* Establecemos una transiciÃ³n a todas las propiedades */
}
 .social ul li .icon-facebook {
    background:#3b5998;
     width: 50px;
     text-align: center;
}
 .social ul li .icon-twitter {
    background: #00abf0;
    width: 50px;
     text-align: center;
}
 .social ul li .icon-googleplus {
    background: #d95232;
    width: 50px;
    font-size: 14px;
     text-align: center;
}
 .social ul li .icon-pinterest {
    background: #3A559F;
    width: 50px;
    text-align: center;
}
 .social ul li .icon-mail {
    background: #666666;
    width: 50px;
    text-align: center;
}
 .social ul li a:hover {
     background: #000;
     padding: 10px 30px;
}
 .social ul li .like {
     font-size: 12px;
     padding: 10px 0;
     background-color: #3b5998;
     width: 50px;
     text-align: center;
     border-top: 1px solid white;
}
 .content {
    padding: 10px;
    max-width: 850px;
    margin: 0px auto;
}
 
 .comment-content {
     cursor: pointer;
     margin-right: 10px;
}
 .comment-content p {
     padding-left: 64px;
}
 .name {
     font-weight: bold;
     color: #9e9e9e;
     margin: 0px;
     cursor: pointer;
}
 .clr {
     clear: both;
}
 .comentarios {
     color: #333;
     font-size: 14px;
     line-height: auto;
     margin: 4px auto;
}
 .comment-status {
     color: #8e8e8e;
     font-size: 13px;
     cursor: pointer;
    /* text-align: right;*/
     padding: 10px 0;
}
 .comment-status span {
     color: #6983bd;
     font-size: 13px;
     padding-right: 5px;
}

 .name {
     font-weight: bold;
     color: #7f7c9e;
     margin: 0px;
     cursor: pointer 
}
 .comments {

         background-color: rgb(238, 239, 244);
         border-bottom: 2px solid rgb(255, 255, 255);
         padding: 10px;
}
 .name {
     font-weight: bold;
     color: #3b5898;
     margin: 0px;
     cursor: pointer;
     font-size: 14px;
}
 .FBTITLE span {
     cursor: pointer;
     float: right;
 }

 .FBTITLE>span {
     margin-top: -3px;
 }

 .FBTITLE {
     background: #3A559F;
     background: -webkit-linear-gradient(top, #3A559F 0%, #374e90 100%);
     background: -webkit-gradient(linear, left top, left bottom, from(#3A559F), to(#374e90));
     background: -o-linear-gradient(top, #3A559F 0%, #374e90 100%);
     background: linear-gradient(to bottom, #3A559F 0%, #374e90 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#374e90 ', endColorstr='#7084b6', GradientType=0);
     display: block;
     padding: 10px 25px 10px 25px;
     padding-right: 7px;
     margin: 0;
     color: white;
     text-align: left;
     font-weight: 600;
     letter-spacing: .04em;
     text-align: center;
 }
.title-small {
    color: #46709E;
    font-size: 18px !important;
    font-weight: 600;
}

.like {padding-left: 16px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAMAAACOacfrAAAAPFBMVEUAAABsh7dtiLeIncN0jrvDzeDP1+aMoMWvvdaIncSJnsSistB1j7xhf7NLbqiInsRLb6lKbqhLbqn////2lQI7AAAAAXRSTlMAQObYZgAAAE5JREFUeNpNyUkOgDAQA0GzE7axPf//KwIphL6VGjWdaB3515VqWCPdxEyTC0bbVL5d8L47s0oRqjI0lO8RLsH2HJvIbX7U47AETGGqww2y3QbKMCbVXgAAAABJRU5ErkJggg==) no-repeat}
/*Style Added on 30-04-2020*/
.reqs {
  list-style: disc;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  padding: 10px 25px;
  background-color: #fdfc06;
}